{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container-fluid px-0 mx-0 main_section">
    <!--=================================== Navbar and Landing Page Section ===================================-->
    <div class="container-fluid px-0 mx-0 portfolio_landing_page_section">
        <!--=================================== Navbar Section ===================================-->
        <div class="container-fluid header-section py-3 navbar_top">
            <nav class="navbar navbar-expand-lg">
                <div class="container col-lg-11 pe-0">
                    <a href="{% url 'home' %}" class="text-decoration-none">
                        <img class="logo" src="{% static 'images/gwtc.jpg' %}" alt="GWTC Logo">
                    </a>
                    <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item me-3">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#">Services</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#">Portfolio</a>
                            </li>
                            <li class="nav-item me-0">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--  -->
        <div class="text-center py-3">
            <h4 class="text-m tertiary mt-4">Explore Our Completed Projects</h4>
        </div>
    </div>
    <!--  -->
    <div class="container col-lg-11 py-5 portfolio">
        <div class="row">
            <div class="col-lg-3 col-md-4 mb-4">
                <div class="p-0 portfolio_category_nav">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <!-- {% for port_cat in portfolio_category %}
                            <button class="nav-link me-0" id="v-pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                                aria-selected="true">
                                {{ port_cat.category_name }}
                            </button>
                        {% endfor %} -->
                        <button class="nav-link me-0" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true">
                            All Work
                        </button>
                        <button class="nav-link mb-2" id="v-pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                            aria-selected="false">
                            Web Development
                        </button>
                        <button class="nav-link mb-2" id="v-pills-disabled-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled"
                            aria-selected="false">
                            App Development
                        </button>
                        <button class="nav-link mb-2" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                            aria-selected="false">
                            Cloud Computing
                        </button>
                        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false">
                            Logo Design
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 mb-4">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab" tabindex="0">
                        <div class="row mb-4">
                            <div class="col-lg-4 col-md-6 mb-4 our_portfolio">
                                <div class="p-0">
                                    <div class="project_box">
                                        <img src="{% static 'images/it.png' %}" alt="" class="project img-fluid">
                                        <div class="project_detail ps-4 pe-3 py-2">
                                            <h5 class="primary">Goku Store</h5>
                                            <p class="tertiary text-small">
                                                This is all about ecommerce website. This is all about ecommerce
                                                website.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 our_portfolio">
                                <div class="p-0">
                                    <div class="project_box">
                                        <img src="{% static 'images/about.jpg' %}" alt="" class="project img-fluid">
                                        <div class="project_detail ps-4 pe-3 py-2">
                                            <h5 class="primary">Goku Store</h5>
                                            <p class="tertiary text-small">
                                                This is all about ecommerce website. This is all about ecommerce
                                                website.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 our_portfolio">
                                <div class="p-0">
                                    <div class="project_box">
                                        <img src="{% static 'images/about1.jpg' %}" alt="" class="project img-fluid">
                                        <div class="project_detail ps-4 pe-3 py-2">
                                            <h5 class="primary">Goku Store</h5>
                                            <p class="tertiary text-small">
                                                This is all about ecommerce website. This is all about ecommerce
                                                website.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 our_portfolio">
                                <div class="p-0">
                                    <div class="project_box">
                                        <img src="{% static 'images/x1.jpg' %}" alt="" class="project img-fluid">
                                        <div class="project_detail ps-4 pe-3 py-2">
                                            <h5 class="primary">Goku Store</h5>
                                            <p class="tertiary text-small">
                                                This is all about ecommerce website. This is all about ecommerce
                                                website.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <button id="loadmore" class="btn px-4 load_more_button">Load more</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab" tabindex="0">
                        <div class="row mb-4">
                            <div class="col-lg-4 mb-4">
                                <div class="p-0">
                                    <div class="project_box">
                                        <img src="{% static 'images/it.png' %}" alt="" class="project img-fluid">
                                        <div class="project_detail ps-4 pe-3 py-2">
                                            <h5 class="primary">Goku Store</h5>
                                            <p class="tertiary text-small">
                                                This is all about ecommerce website. This is all about ecommerce
                                                website.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="p-0">
                                    <div class="project_box">
                                        <img src="{% static 'images/about.jpg' %}" alt="" class="project img-fluid">
                                        <div class="project_detail ps-4 pe-3 py-2">
                                            <h5 class="primary">Goku Store</h5>
                                            <p class="tertiary text-small">
                                                This is all about ecommerce website. This is all about ecommerce
                                                website.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="p-0">
                                    <div class="project_box">
                                        <img src="{% static 'images/x1.jpg' %}" alt="" class="project img-fluid">
                                        <div class="project_detail ps-4 pe-3 py-2">
                                            <h5 class="primary">Goku Store</h5>
                                            <p class="tertiary text-small">
                                                This is all about ecommerce website. This is all about ecommerce
                                                website.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel"
                        aria-labelledby="v-pills-disabled-tab" tabindex="0">
                        <div class="row mb-4">
                            <div class="col-lg-4 mb-4">
                                <div class="p-0">
                                    <div class="project_box">
                                        <img src="{% static 'images/x1.jpg' %}" alt="" class="project img-fluid">
                                        <div class="project_detail ps-4 pe-3 py-2">
                                            <h5 class="primary">Goku Store</h5>
                                            <p class="tertiary text-small">
                                                This is all about ecommerce website. This is all about ecommerce
                                                website.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="p-0">
                                    <div class="project_box">
                                        <img src="{% static 'images/x1.jpg' %}" alt="" class="project img-fluid">
                                        <div class="project_detail ps-4 pe-3 py-2">
                                            <h5 class="primary">Goku Store</h5>
                                            <p class="tertiary text-small">
                                                This is all about ecommerce website. This is all about ecommerce
                                                website.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab" tabindex="0">
                        <div class="row mb-4">
                            <div class="col-lg-4 mb-4">
                                <div class="p-0">
                                    <div class="project_box">
                                        <img src="{% static 'images/x1.jpg' %}" alt="" class="project img-fluid">
                                        <div class="project_detail ps-4 pe-3 py-2">
                                            <h5 class="primary">Goku Store</h5>
                                            <p class="tertiary text-small">
                                                This is all about ecommerce website. This is all about ecommerce
                                                website.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab" tabindex="0">
                        <div class="col-lg-12 portfolio_category_nav py-5 px-3">
                            <h5 class="primary text-m">We have not worked at on this Category.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=================================== Footer Section ===================================-->
    <footer class="container-fluid px-0 mx-0 pt-5 pb-3">
        <div class="container col-lg-11 py-5 footer">
            <div class="row mt-3 mb-5">
                <div class="col-lg-4 col-md-8 col-sm-12 col-12 mb-lg-0 mb-4">
                    <div class="p-2">
                        <h5 class="primary mb-4">GWTC</h5>
                        <p class="tertiary mb-4">
                            Aut fuga error aut unde et distinctio sit ratione libero nemo ullam deserunt sequi ut
                            voluptatum ut earum suscipit et voluptatem maxime fuga necessitatibus maiores nesciunt et.
                        </p>
                        <div class="company_social_link">
                            <a href="#" class="text-decoration-none link me-3">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#" class="text-decoration-none link me-3">
                                <i class="fa fa-github"></i>
                            </a>
                            <a href="#" class="text-decoration-none link me-3">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="text-decoration-none link me-3">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                            <a href="#" class="text-decoration-none link me-3">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="text-decoration-none link me-3">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-5 col-12 mb-lg-0 mb-4">
                    <div class="py-2 px-3">
                        <h5 class="primary mb-4">Quick Link</h5>
                        <div class="quick_links">
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">Home</p>
                            </a>
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">About Us</p>
                            </a>
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">Services</p>
                            </a>
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">Portfolio</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-7 col-12 mb-lg-0 mb-4">
                    <div class="p-2">
                        <h5 class="primary mb-4">Our Services</h5>
                        <div class="quick_links">
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">Web Development</p>
                            </a>
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">App Development</p>
                            </a>
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">Digital Marketing</p>
                            </a>
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">Logo Development</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-12 col-12 mb-lg-0 mb-4">
                    <div class="p-2">
                        <h5 class="primary mb-4">Contact US</h5>
                        <div class="contact_box">
                            <div class="d-flex align-items-start mb-3">
                                <i class="fa fa-home text-s me-2 secondary mb-0"></i>
                                <p class="tertiary mb-0">Chunikhel Tupek, Kapan Budhanilkantha-14, Kathmandu</p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa fa-envelope-open me-2 secondary mb-0"></i>
                                <p class="tertiary mb-0">gwtc.online@gmail.com</p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa fa-phone me-2 text-s secondary mb-0"></i>
                                <p class="tertiary mb-0">+977-9898989898</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr">
            <div class="d-flex justify-content-center align-items-center">
                <p class="tertiary">
                    &copy; 2023 - <a href="#" class="text-decoration-none secondary">GWTC</a> all rights reserved
                </p>
            </div>
        </div>
    </footer>
    <!--=================================== Ended Section ===================================-->
</div>

<!-- <script src="{% static 'js/jquery.js' %}"></script> -->
<script>
    $('.our_portfolio').slice(0, 3).show(); //showing 3 div

    $('.loadmore').on('click', function(){
        $('.our_portfolio:hidden').slice(0, 3).show();
        // showing 3 hidden div on click
        if($('.our_portfolio:hidden').length ==0){
            $('.loadmore').fadeOut(); // this will hide button when length is 0
        }
    })
</script>

{% endblock content %}


