/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --nav-bg : #212121;
    --bg : #181818;
    --card-bg : #272727;
    --footer-bg : #151515;
    --transparent : transparent;
    --primary : #e3e1e1;
    --secondary : #32acd5;
    --tertiary: #6c757d;
    --linear-gradient-img: linear-gradient(to right, rgba(0, 0, 0, 0.65) 80%, rgba(0, 0, 0, 0.65) 75% );
    --linear-gradient-card: linear-gradient(to right, rgba(0, 0, 0, 0.75) 85%, rgba(0, 0, 0, 0.75) 80% );
}

::-webkit-scrollbar{
    display: none;
}
::selection{
    background: var(--tertiary);
    color: var(--secondary);
    /* color: var(--primary); */
}
.btn{
    border-radius: 0px;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}
.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline: none;
    box-shadow: none;
}
.form-select:focus, .form-select:active:focus, .form-select.active:focus{
    outline: none;
    box-shadow: none;
}
.form-check-input[type=checkbox]{
    border-radius: 0px !important;
}
.form-check-input:focus, .form-check-input:active:focus, .form-check-input.active:focus{
    outline: none;
    box-shadow: none;
}
.form-control{
    border-radius: 0px;
    border: none;
}
.form-select{
    border-radius: 0px;
}
.img-thumbnail{
    padding: 0.5px;
    border-radius: 0px;
    background-color: #707070;
}
hr{
    opacity: 1;
}
ul{
    list-style: none;
}
.playfair{
    font-family: 'Playfair Display', serif;
}
.text-shadow{
    text-shadow: 1.5px 1.5px 3px #f0bc5e;
}
.text-xxl{
    font-size: 7.5rem;
}
.text-l{
    font-size: 8.5rem;
}
.text-xl{
    font-size: 3.5rem;
}
.text-m{
    font-size: 1.5rem;
}
.text-s{
    font-size: 1.2rem;
}
.text-small{
    font-size: 0.83rem;
}
.text-sm{
    font-size: 1.0832rem;
}
.letter-spacing{
    letter-spacing: 0.5303rem;
}
.lh-l{
    letter-spacing: 0.4303rem;
}
.lh-m{
    letter-spacing: 0.3303rem;
}
.lh-s{
    letter-spacing: 0.1303rem;
}
.lh{
    line-height: 4.2302rem;
}
.fw900{
    font-weight: 900;
}
.stroke-text{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--secondary);
}
.primary{
    color: var(--primary);
}
.secondary{
    color: var(--secondary);
}
.tertiary{
    color: var(--tertiary);
}
.hr{
    background: var(--card-bg);
}
.load_more_button{
    background: var(--secondary);
    color: var(--footer-bg);
    border: 2px solid var(--secondary);
    font-weight: 600;
    letter-spacing: 0.15rem;
    transition: 0.8s ease-out;
}
.load_more_button:hover{
    background: var(--transparent);
    color: var(--secondary);
    border: 2px solid var(--secondary);
}
.main_section{
    width: 100%;
    background: var(--bg);
}
.header_landing_page_section{
    background-image:  var(--linear-gradient-img), url('/static/images/it.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.header-section{
    /* background: var(--nav-bg); */
    /* background: var(--transparent); */
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header-section .nav-link{
    color: var(--primary);
    font-size: 1.102rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    transition: 0.5s ease-in-out;
}
.header-section .nav-link:hover{
    color: var(--secondary);
}
.header-section .active{
    color: var(--secondary) !important;
}
.navbar-toggler{
    border: none;
}
.about_box{
    width: 100%;
    height: auto;
}
#more{
    display: none;
}
.about_box .back_box{
    background: var(--linear-gradient-img), url('/static/images/about1.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-left: 3.299rem;
    border: 4px solid var(--secondary);
    width: 320px;
    height: 350px;
}
.about_box .overlap_box{
    position: absolute;
    right: -50px;
    top: -50px;
    background: var(--card-bg);
    width: 300px;
    height: 350px;
}

/*  */

/*  */

.service_box{
    background: var(--nav-bg);
    cursor: pointer;
    border: 2px solid var(--card-bg);
    transition: 2s ease-out;
}
.service_box:hover{
    /* background: var(--linear-gradient-card), url('/static/images/it1.jpg');
    background-size: cover; */
    background: var(--card-bg);
    border: 2px solid var(--secondary);
    transition: 2s ease-out;
    opacity: 1;
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_box{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: var(--transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s ease-out;
    border: 2px solid var(--primary);
}
.icon_box i{
    color: var(--primary);
    transition: 2s ease-out;
}
.service_box:hover .icon_box{
    background: var(--nav-bg);
    opacity: 1;
    border: 2px solid var(--secondary);
    transition: 2s ease-out;
}
.service_box:hover .icon_box i{
    color: var(--secondary);
    opacity: 1;
}
/*  */
.portfolio {
    width: 100%;
}
.portfolio .portfolio_category_nav{
    background: var(--card-bg);
}
.portfolio .nav-pills .nav-link{
    color: var(--primary);
    background: var(--transparent);
    font-size: 1.0703rem;
    border-radius: 0px;
}
.portfolio .nav-pills .nav-link:hover{
    color: var(--primary);
    background: var(--secondary);
}
.portfolio .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--primary);
    background: var(--secondary);
}
.project_box{
    width: 100%;
    position: relative;
    cursor: pointer;
    transition: 1s ease-out;
}
.project_box .project{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}
.project_box .project_detail{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: var(--card-bg);
    border-top: 3px solid var(--footer-bg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.200) 80%, rgba(0, 0, 0, 0.1990) 75%); */
    /* display: none; */
    opacity: 0;
    transition: 1s ease-out;
}
.project_box:hover .project_detail{
    display: block;
    border-top: 3px solid var(--secondary);
    opacity: 1;
    transition: 1s ease-out;
}
.expertise{
    width: auto;
    height: 10vh;
}
.view-button{
    background: var(--secondary);
    color: var(--footer-bg);
    border: 2px solid var(--secondary);
    font-weight: 600;
    letter-spacing: 0.2rem;
    transition: 0.8s ease-out;
}
.view-button:hover{
    background: var(--transparent);
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

/*  */
.portfolio_landing_page_section{
    background-image:  var(--linear-gradient-img), url('/static/images/about.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
}


/*  */
.ceo_message_box .ceo_img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid var(--card-bg);
    padding: 0.3rem;
    background: #32acd5;
    /* background: url('/static/images/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    object-fit: cover;
    object-position: top;
}

/*  */
.our_team_box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team_content_box{
    width: 350px;
    height: auto;
    margin: 0.5rem 1rem;
}
.img_box{
    position: relative;
    transition: opacity 1s ease-in-out;
}
.img_box .member_img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: top;
}
.img_box .member_info{
    position: absolute;
    bottom: -9%;
    left: 5%;
    right: 5%;
    width: 300px;
    height: 12vh;
    background: var(--primary);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.img_box .team_social_link{
    position: absolute;
    top: 25%;
    right: 0;
    background: var(--card-bg);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.img_box:hover .team_social_link{
    opacity: 1;
}
.img_box .team_social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    background: var(--primary);
    color: var(--footer-bg);
    border: 2px solid var(--card-bg);
    transition: 0.5s ease-in-out;
}
.img_box .team_social_link a:hover{
    background: var(--transparent);
    color: var(--primary);
    border: 2px solid var(--primary);
}

/*  */
.carousel_client_section{
    background: var(--card-bg);
}
/* .carousel_client_img{
    position: relative;
} */
.carousel_client_img .client_img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    padding: 0.13rem;
    background: var(--tertiary);
}
.carousel-indicators .active{
    opacity: 1;
    background-color: var(--secondary);
}
.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.contact{
    background: var(--card-bg);
}
.submit_btn{
    width: 120px;
    background: var(--transparent);
    color: var(--secondary);
    border: 2px solid var(--secondary);
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
.submit_btn:hover{
    background: var(--secondary);
    color: var(--bg);
    border: 2px solid var(--secondary);
}

/*  */
.footer{
    background: var(--footer-bg);
}
.company_social_link{
    width: 100%;
    display: flex;
    align-items: center;
}
.company_social_link .link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    background: var(--card-bg);
    color: var(--primary);
    border: 2px solid var(--card-bg);
    transition: 0.5s ease;
}
.company_social_link .link:hover{
    border: 2px solid var(--card-bg);
    background: var(--transparent);
    color: var(--secondary);
}
.quick_links{
    width: 100%;
}
.quick_links .link{
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--primary);
    transition: 0.5s ease-out;
}
.quick_links .link:hover{
    color: var(--secondary);
}

@media (max-width: 1024px) {
    .text-xl {
        font-size: 2.5rem;
    }
    .lh {
        line-height: 3.2302rem;
    }
}

@media (max-width: 768px) {
    .text-xl {
        font-size: 2.5rem;
    }
    .lh {
        line-height: 3.2302rem;
    }
    .about_box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about_box .back_box {
        margin-left: 0rem;
    }
    .text-xl {
        font-size: 1.75rem;
    }
    .h4, h4 {
        font-size: calc(1.075rem);
    }
    .ceo_message_box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 475px) {
    .text-m {
        font-size: 1.03rem;
    }
    .lh-l {
        letter-spacing: 0.3303rem;
    }
    .about_box .back_box {
        margin-left: 0rem;
        width: 300px;
    }
    .about_box .overlap_box {
        right: -30px;
        top: -30px;
        width: 300px;
    }
    .ceo_message_box .ceo_img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .img_box .member_info {
        position: absolute;
        bottom: -9%;
        left: 5%;
        right: 5%;
        width: 270px;
        height: 12vh;
    }
}
@media (max-width: 330px) {
    .about_box .back_box {
        margin-left: 0rem;
        width: 270px;
    }
    .about_box .overlap_box {
        right: -25px;
        top: -25px;
        width: 270px;
    }
    .img_box .member_info {
        position: absolute;
        bottom: -9%;
        left: 4%;
        right: 4%;
        width: 230px;
        height: 12vh;
    }
}