{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container-fluid px-0 mx-0 main_section">
    <!--=================================== Navbar and Landing Page Section ===================================-->
    <div class="container-fluid px-0 mx-0 header_landing_page_section">
        <!--=================================== Navbar Section ===================================-->
        <div class="container-fluid header-section py-3 navbar_top">
            <nav class="navbar navbar-expand-lg">
                <div class="container col-lg-11 pe-0">
                    <a href="{% url 'home' %}" class="text-decoration-none">
                        <img class="logo" src="{% static 'images/gwtc.jpg' %}" alt="GWTC Logo">
                    </a>
                    <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars primary"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item me-3">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#service">Services</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#portfolio">Portfolio</a>
                            </li>
                            <li class="nav-item me-0">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--=================================== Landing Page Section ===================================-->
        <div class="container col-lg-11 py-5">
            <div class="text-start my-5 py-4">
                <h4 class="primary letter-spacing text-xl playfair">We Turn Idea</h4>
                <h1 class="text-xl pt-2 stroke-text">Into Reality, That's Awesome!</h1>
            </div>
        </div>
    </div>
    <!--=================================== About US Section ===================================-->
    <div class="container col-lg-11 my-5" id="about">
        <p class="secondary text-uppercase text-center playfair lh-l text-m fw-bold mb-5 pb-4">About Us</p>
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-12 mb-4">
                <div class="p-2">
                    <p class="secondary text-s lh-s mb-xl-4 mb-lg-0"> Welcome to Global We Tech Care, GWTC</p>
                    <h3 class="primary lh-s playfair fw-bold text-xl lh mb-xl-4 mb-lg-3">Creative Solutions by Professional
                        Designers
                    </h3>
                    <p class="tertiary mt-xl-4 mt-lg-2 me-xl-5 me-lg-4 pe-xl-4 pe-lg-3 mb-1">
                        Based upon our research, the cost of developing high performing web platforms has been one of
                        the barriers of entry for most small and medium enterprises in Nepal. The cost of developing web
                        platforms and the ongoing management costs associated with<span id="dots">...</span>
                        <span id="more">
                            such platforms. We provide ecommerce platform with features to list products for sale on the
                            world wide web (www), manage available
                            inventory, make sales using popular e-pay apps, process orders received in from the web and
                            also manage delivery of the received orders.
                        </span>
                    </p>
                    <span class="secondary d-flex" onclick="myFunction()" id="myBtn" style="cursor: pointer;">Read
                        more</span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-12 mt-5 text-center">
                <div class="py-2 pe-0 about_box">
                    <div class="back_box">
                        <div class="overlap_box p-xl-2 p-lg-2 px-md-5 py-md-2">
                            <p class="text-end primary playfair h6 text-uppercase me-3 mt-3">
                                Since <span class="primary h6 text-uppercase">2020</span>
                            </p>
                            <div class="mx-3 mt-5 text-start">
                                <div class="d-flex align-items-start mb-2">
                                    <h1 class="text-l fw900 stroke-text">02</h1>
                                    <i class="fa fa-plus text-xl stroke-text pt-3 ms-3"></i>
                                </div>
                                <h5 class="primary text-uppercase">years of experience</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-11">
        <hr class="hr">
    </div>
    <!--=================================== Services Section ===================================-->
    <div class="container col-lg-11 my-5" id="service">
        <p class="secondary text-uppercase text-center playfair lh-l text-m fw-bold mb-2">Our Services</p>
        <!-- What we do -->
        <p class="text-center tertiary mb-5 text-sm">The following services will be accessiable to our clients from our
            company.
        </p>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                <div class="px-2 service_box py-4 text-center">
                    <div class="center text-center mt-4">
                        <div class="icon_box mb-4 text-center">
                            <i class="fa fa-desktop text-m"></i>
                        </div>
                    </div>
                    <div class="detail">
                        <h6 class="primary mb-3">Web Development</h6>
                        <p class="tertiary mb-4">
                            In web development, we offer quality and expertise.
                            We are able to deliver the desired products on time while keeping the customer satisfied.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                <div class="px-2 service_box py-4 text-center">
                    <div class="center text-center mt-4">
                        <div class="icon_box mb-4 text-center">
                            <i class="fa fa-desktop text-m"></i>
                        </div>
                    </div>
                    <div class="detail">
                        <h6 class="primary mb-3">App Development</h6>
                        <p class="tertiary mb-4">
                            we provide application according to the customer requirement using UI/UX 
                            approach and deliver the product in specified time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                <div class="px-2 service_box py-4 text-center">
                    <div class="center text-center mt-4">
                        <div class="icon_box mb-4 text-center">
                            <i class="fa fa-desktop text-m"></i>
                        </div>
                    </div>
                    <div class="detail">
                        <h6 class="primary mb-3">Digital Marketing</h6>
                        <p class="tertiary mb-4">
                            We offer digital marketing services that promote products or 
                            brands using digital channels such as the internet, social media, email, and mobile apps.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                <div class="px-2 service_box py-4 text-center">
                    <div class="center text-center mt-4">
                        <div class="icon_box mb-4 text-center">
                            <i class="fa fa-question-circle text-m"></i>
                        </div>
                    </div>
                    <div class="detail">
                        <h6 class="primary mb-3">Training Session</h6>
                        <p class="tertiary mb-4">
                            We provide interns for ambitious individuals who 
                            are enthusiastic about technology and give them
                             most effective path to pursue a career in the IT field.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-11">
        <hr class="hr">
    </div>
    <!--=================================== Collaboration Page Section ===================================-->
    <!-- <div class="container-fluid px-0 mx-0 process">
        <div class="container col-lg-11 my-5">
            <p class="secondary text-uppercase text-center playfair lh-l text-m fw-bold mb-2">Collaboration</p>
            <p class="text-center tertiary mb-5 text-sm">Organizations we've worked with</p>
            <div class="row">
                <div class="col-lg-2">
                    <div class="p-2 shadow-sm bg-dark">
                        <p class="secondary text-center mb-0">Google</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-11">
        <hr class="hr">
    </div> -->
    <!--=================================== Portfolio Page Section ===================================-->
    <div class="container col-lg-11 my-5 portfolio" id="portfolio">
        <p class="secondary text-uppercase text-center playfair lh-l text-m fw-bold mb-2">Our Works</p>
        <p class="text-center tertiary mb-5 text-sm">Our recent accomplished projects.</p>
        <div class="row mb-4">
            {% for work in portfolio %}
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                    <div class="p-0">
                        <div class="project_box">
                            <img src="{{ work.image.url }}" alt="" class="project img-fluid">
                            <div class="project_detail ps-4 pe-3 py-2">
                                <h5 class="primary">{{ work.portfolio }}</h5>
                                <p class="tertiary text-small">
                                    {{ work.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <a href="{% url 'portfolio' %}" class="btn text-decoration-none view-button px-4">View All</a>
        </div>
    </div>
    <div class="container col-lg-11">
        <hr class="hr">
    </div>
    <!--=================================== Our Expertise Page Section ===================================-->
    <div class="container col-lg-11 my-5">
        <p class="secondary text-uppercase text-center playfair lh-l text-m fw-bold mb-2">Our expertise</p>
        <p class="text-center tertiary mb-5 text-sm">The following tools and technologies are utilized to create any project.</p>
        <div class="row">
            <div class="col mb-lg-0 mb-md-3">
                <div class="p-2"><img src="{% static 'images/django.png' %}" alt="" class="expertise"></div>
            </div>
            <div class="col mb-lg-0 mb-md-3">
                <div class="p-2"><img src="{% static 'images/mysql.png' %}" alt="" class="expertise"></div>
            </div>
            <div class="col mb-lg-0 mb-md-3">
                <div class="p-2"><img src="{% static 'images/figma.png' %}" alt="" class="expertise"></div>
            </div>
            <div class="col mb-lg-0 mb-md-3">
                <div class="p-2"><img src="{% static 'images/react.png' %}" alt="" class="expertise"></div>
            </div>
            <div class="col mb-lg-0 mb-md-3">
                <div class="p-2"><img src="{% static 'images/canva.png' %}" alt="" class="expertise"></div>
            </div>
            <div class="col mb-lg-0 mb-md-3">
                <div class="p-2"><img src="{% static 'images/node.png' %}" alt="" class="expertise"></div>
            </div>
            <div class="col mb-lg-0 mb-md-3">
                <div class="p-2"><img src="{% static 'images/flutter.png' %}" alt="" class="expertise"></div>
            </div>
            <div class="col mb-lg-0 mb-md-3">
                <div class="p-2"><img src="{% static 'images/aws.png' %}" alt="" class="expertise"></div>
            </div>
        </div>
    </div>
    <div class="container col-lg-11">
        <hr class="hr">
    </div>
    <!--=================================== CEO Message Section ===================================-->
    <div class="container col-lg-11 my-5">
        <p class="secondary text-uppercase text-center playfair lh-l text-m fw-bold mb-5">CEO Message</p>
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <div class="px-2 py-3">
                    <h4 class="primary text-xl playfair mb-3">What Our CEO Say, About GWTC Customers</h4>
                    <div class="d-flex align-items-start">
                        <i class="fa fa-quote-left secondary me-1" style="font-size: 0.8333rem;"></i>
                        <h4 class="primary mb-3">
                            We help our clients to renew their business function to create brandable organizations
                            <i class="fa fa-quote-right secondary" style="font-size: 0.8333rem;"></i>
                        </h4>
                    </div>
                    <p class="tertiary mb-xl-4 mb-lg-4 mb-md-2">
                        Appropriately enhance principle-centered innovation rather than high standards in platforms.
                        Credibly orchestrate functional markets through multidisplinary services. Uniquely strategize
                        transparent technology and user friendly ideas markets.
                    </p>
                    <h5 class="secondary d-lg-none d-block mb-1">Bikesh Sapkota</h5>
                    <div class="col-lg-3 d-lg-flex d-none align-items-center mb-0 pb-0">
                        <hr class="container col-lg-1 secondary rounded-pill pt-1">
                        <h5 class="secondary mb-1">Bikesh Sapkota</h5>
                    </div>
                    <p class="tertiary ms-2">Ceo & Founder</p>
                </div>
            </div>
            <div class="col-lg-1 d-lg-block d-md-none"></div>
            <div class="col-lg-4 col-md-5">
                <div class="p-2">
                    <div class="ceo_message_box">
                        <img src="{% static 'images/ceo.png' %}" alt="" class="ceo_img img-thumbnail">
                        <div class="ceo_social_link">
                            <a href="https://github.com/sapkotaaa" target="_blank" class="text-decoration-none mb-2 me-2">
                                <i class="fa fa-github"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/bikesh-sapkota-7ba194200/" target="_blank" class="text-decoration-none mb-2 me-2">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://www.instagram.com/bikeshsapkota13/" target="_blank" class="text-decoration-none mb-2">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-11">
        <hr class="hr">
    </div>
    <!--=================================== Our Team Page Section ===================================-->
    <div class="container col-lg-10 my-5" id="team">
        <p class="secondary text-uppercase text-center playfair lh-l text-m fw-bold mb-2">Our Team</p>
        <p class="text-center tertiary mb-5 text-sm">Expertise in their profession, giving excellent service.</p>
        <div class="our_team_box pb-5">
            <div class="team_content_box mb-5 pb-3">
                <div class="img_box">
                    <img src="{% static 'images/goku.png' %}" alt="Team Member" class="member_img">
                    <div class="member_info text-center py-2">
                        <h5 class="secondary mt-1 text-s">Gokarna Adhikari</h5>
                        <p class="tertiary text-small mb-0">Frontend Developer</p>
                    </div>
                    <div class="team_social_link p-2 text-center">
                        <a href="https://www.linkedin.com/in/gokarna-a-583b0b245/" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/gokarna123-goku" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="#" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/theac_goku153/" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="team_content_box mb-5 pb-3">
                <div class="img_box">
                    <img src="{% static 'images/suraj.png' %}" alt="Team Member" class="member_img">
                    <div class="member_info text-center py-2">
                        <h5 class="secondary mt-1 text-s">Suraj Gyawali</h5>
                        <p class="tertiary text-small mb-0">UX/UI Designer</p>
                    </div>
                    <div class="team_social_link p-2 text-center">
                        <a href="https://www.linkedin.com/in/suraj-gyawali-385447139/" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/surajswas" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="#" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/surajgyawali55/" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="team_content_box mb-5 pb-3">
                <div class="img_box">
                    <img src="{% static 'images/shaman.png' %}" alt="Team Member" class="member_img">
                    <div class="member_info text-center py-2">
                        <h5 class="secondary mt-1 text-s">Shaman Jung Shah</h5>
                        <p class="tertiary text-small mb-0">Backend Developer</p>
                    </div>
                    <div class="team_social_link p-2 text-center">
                        <a href="https://www.linkedin.com/in/shaman-jung-shah-681897217/" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/samanjungshah" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="https://www.facebook.com/shaman.jungshah.5?mibextid=ZbWKwL" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/shamanjungshah/" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="team_content_box mb-5 pb-3">
                <div class="img_box">
                    <img src="{% static 'images/3.png' %}" alt="Team Member" class="member_img">
                    <div class="member_info text-center py-2">
                        <h5 class="secondary mt-1 text-s">Pratik Joshi</h5>
                        <p class="tertiary text-small mb-0">Project Manager</p>
                    </div>
                    <div class="team_social_link p-2 text-center">
                        <a href="https://www.linkedin.com/in/pratik-joshi-2294ba169" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/3Ravan3" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="team_content_box mb-5 pb-3">
                <div class="img_box">
                    <img src="{% static 'images/4.png' %}" alt="Team Member" class="member_img">
                    <div class="member_info text-center py-2">
                        <h5 class="secondary mt-1 text-s">Aayush Regmi </h5>
                        <p class="tertiary text-small mb-0">Agricultural Researcher</p>
                    </div>
                    <div class="team_social_link p-2 text-center">
                        <a href="#" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="#" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank" class="text-decoration-none mb-2">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-11 pt-3">
        <hr class="hr">
    </div>
    <!--=================================== Contact US Page Section ===================================-->
    <div class="container col-lg-10 py-5" id="contact">
        <p class="secondary text-uppercase text-center playfair lh-l text-m fw-bold mb-2">Connect with us</p>
        <p class="text-center tertiary mb-5 text-sm">
            Get in touch and discover how we can help. We aim to be in touch for a consultation
        </p>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-7 mb-4">
                <div class="px-3 py-3 carousel_client_section">
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active text-center py-5 px-5">
                                <div class="carousel_client_img pt-3 pb-4">
                                    <img src="{% static 'images/principle.jpg' %}" class="client_img" alt="...">
                                </div>
                                <p class="tertiary">
                                    We are pleased to have the digital platform. It requires our personnel to develop the school employing modern technologies without altering any platform using physiology. 
                                    It is simplifying and expediting our job.
                                </p>
                                <h5 class="primary">Mr. Rajesh Rai</h5>
                                <p class="secondary text-small">Eastpole School</p>
                            </div>
                            <div class="carousel-item text-center py-5 px-5">
                                <div class="carousel_client_img pt-3 pb-4">
                                    <img src="{% static 'images/suraj.png' %}" class="client_img" alt="...">
                                </div>
                                <p class="tertiary">
                                    As a UI/UX designer, I enjoyed working in a welcoming environment with the GWTC team, 
                                    and they encouraged me to keep improving my work by contributing their innovative ideas.
                                </p>
                                <h5 class="primary">Mr. Suraj Gyawali</h5>
                                <p class="secondary text-small">GWTC</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mb-3">
                <div class="px-4 pt-3 pb-1 contact">
                    <form class="mb-3" method="POST" action="/">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label for="fullname" class="primary mb-1">Full Name</label>
                            <input type="text" name="fullname" id="fullname" class="form-control border"
                                placeholder="fullname" required>
                        </div>
                        <div class="mb-2">
                            <label for="email" class="primary mb-1">Email Address</label>
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="email address" required>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="primary mb-1">Message</label>
                            <textarea name="message" id="message" rows="3" class="form-control border"
                                placeholder="Type your message..." required></textarea>
                        </div>
                        <div class="mb-2">
                            <div class="g-recaptcha" data-sitekey="6LdvArojAAAAAEHwdwV0RSy26UvOeTPc906Ii1wq"></div>
                        </div>
                        <button type="submit" hx-target='#contact' class="btn submit_btn mt-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--=================================== Footer Section ===================================-->
    <footer class="container-fluid px-0 mx-0 pt-5 pb-3">
        <div class="container col-lg-11 py-5 footer">
            <div class="row mt-3 mb-5">
                <div class="col-lg-4 col-md-8 col-sm-12 col-12 mb-lg-0 mb-4">
                    <div class="p-2">
                        <h5 class="primary mb-4">GWTC</h5>
                        <p class="tertiary mb-4">
                            Aut fuga error aut unde et distinctio sit ratione libero nemo ullam deserunt sequi ut
                            voluptatum ut earum suscipit et voluptatem maxime fuga necessitatibus maiores nesciunt et.
                        </p>
                        <div class="company_social_link">
                            <a href="https://www.linkedin.com/company/global-we-tech-cares/" class="text-decoration-none link me-3">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://github.com/globaltechcares" target="_blank" class="text-decoration-none link me-3">
                                <i class="fa fa-github"></i>
                            </a>
                            <a href="https://www.facebook.com/Global-We-Tech-Cares-106254115033589" target="_blank" class="text-decoration-none link me-3">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <!-- <a href="#" target="_blank" class="text-decoration-none link me-3">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                            <a href="#" target="_blank" class="text-decoration-none link me-3">
                                <i class="fa fa-twitter"></i>
                            </a> -->
                            <a href="#" target="_blank" class="text-decoration-none link me-3">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-5 col-12 mb-lg-0 mb-4">
                    <div class="py-2 px-3">
                        <h5 class="primary mb-4">Quick Link</h5>
                        <div class="quick_links">
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">Home</p>
                            </a>
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">About Us</p>
                            </a>
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">Services</p>
                            </a>
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">Portfolio</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-7 col-12 mb-lg-0 mb-4">
                    <div class="p-2">
                        <h5 class="primary mb-4">Our Services</h5>
                        <div class="quick_links">
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">Web Development</p>
                            </a>
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">App Development</p>
                            </a>
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">Digital Marketing</p>
                            </a>
                            <a href="#" class="link mb-2 text-decoration-none">
                                <i class="fa fa-long-arrow-right text-s me-2 "></i>
                                <p class=" mb-0">Logo Development</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-12 col-12 mb-lg-0 mb-4">
                    <div class="p-2">
                        <h5 class="primary mb-4">Contact US</h5>
                        <div class="contact_box">
                            <div class="d-flex align-items-start mb-3">
                                <i class="fa fa-home text-s me-2 secondary mb-0"></i>
                                <p class="tertiary mb-0">Chunikhel Tupek, Kapan Budhanilkantha-14, Kathmandu</p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa fa-envelope-open me-2 secondary mb-0"></i>
                                <p class="tertiary mb-0">gwtc.online@gmail.com</p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <i class="fa fa-phone me-2 text-s secondary mb-0"></i>
                                <p class="tertiary mb-0">+977-9898989898</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr">
            <div class="d-flex justify-content-center align-items-center">
                <p class="tertiary">
                    &copy; 2023 - <a href="https://gwtc.online/" target="_self" class="text-decoration-none secondary">GWTC</a> all rights reserved
                </p>
            </div>
        </div>
    </footer>
    <!--=================================== Ended Section ===================================-->
</div>

<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'; //insert csrf token when performing AJAX request 
    })
</script> -->
{% endblock content %}